@use 'variables';
@use 'mixin';
@use 'extend';

html {
	scroll-behavior: smooth;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
}

.header {
	&Container {
		position: relative;
		width: 100%;
		padding: 31px 15px;
		background-color: variables.$vivaMagenta;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: nowrap;
		align-items: center;
	}

	&Title {
		@extend %jaKakuGo;
		font-size: 24px;
		font-weight: 700;
		letter-spacing: 0.05em;
		color: white;
	}

	&List {
		display: none;

		@include mixin.mq(md) {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			column-gap: 15px;
			align-items: center;
		}
	}

	&Link {
		@extend %jaKakuGo;
		font-size: 16px;
		font-weight: 500;
		line-height: 28px;
		letter-spacing: 0.05em;
		color: white;
	}

	&MenuButton {
		width: 48px;
		height: 48px;
		border-radius: 24px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		row-gap: 4px;
		z-index: 2;
		align-items: center;

		@include mixin.mq(md) {
			display: none;
		}

		.bar {
			width: 16px;
			height: 2px;
			background-color: white;
			display: block;
		}
	}
}

.bg {
	&Container {
		width: 100%;
		margin-left: auto;
		margin-right: auto;

		&Even {
			background-color: variables.$grayLilacOneThird;
		}

		&Odd {
			background-color: variables.$grayLilacTwoThirds;
		}
	}
}

// ファーストビューのセクション
.firstview {
	&Container {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 100%;
	}

	&Content {
		width: 100%;

		.autoplay-progress {
			position: absolute;
			right: 16px;
			bottom: 16px;
			z-index: 10;
			width: 48px;
			height: 48px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: bold;
			// color: var(--swiper-theme-color);
			color: white;
		}

		.autoplay-progress svg {
			--progress: 0;
			position: absolute;
			left: 0;
			top: 0px;
			z-index: 10;
			width: 100%;
			height: 100%;
			stroke-width: 4px;
			// stroke: var(--swiper-theme-color);
			stroke: white;
			fill: none;
			stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
			stroke-dasharray: 125.6;
			transform: rotate(-90deg);
		}
	}

	&Head {
		&Container {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, calc(-50% + 45px));
			z-index: 2;
		}

		&Content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			row-gap: 15px;

			.en {
				@extend %enGo;
				font-size: mixin.getVwNoRound(calc(360 / 12), 375);
				font-weight: 700;
				letter-spacing: 0.1em;
				line-height: mixin.getVwNoRound(calc((360 / 12) * 1.1), 375);
				color: variables.$vivaMagenta;

				@include mixin.mq(md) {
					font-size: mixin.getVwNoRound(calc(960 / 12), 1920);
					line-height: mixin.getVwNoRound(
						calc((960 / 12) * 1.1),
						1920
					);
				}
			}

			.ja {
				@extend %jaKakuGo;
				font-size: mixin.getVwNoRound(calc(360 / 20), 375);
				font-weight: 700;
				line-height: mixin.getVwNoRound(calc((360 / 20) * 1.25), 375);
				color: white;

				@include mixin.mq(md) {
					font-size: mixin.getVwNoRound(calc(480 / 20), 1920);
					line-height: mixin.getVwNoRound(
						calc((480 / 20) * 1.25),
						1920
					);
				}
			}

			.md-none {
				display: block;

				@include mixin.mq(md) {
					display: none;
				}
			}
		}
	}

	&Image {
		width: 100%;
		height: 100%;
		filter: brightness(0.33);
	}
}

// お知らせのセクション
.oshirase {
	&Container {
		@extend %sectionContainer;
	}

	&Head {
		@extend %sectionHead;
	}

	&List {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		row-gap: 15px;
	}

	&Item {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		column-gap: 15px;
	}

	&Term {
		@extend %enGo;
		font-size: 16px;
		font-weight: 400;
		line-height: 28px;
		color: variables.$black-1000;
		padding-top: 2px;
	}

	&Description {
		@extend %jaKakuGo;
		font-size: 16px;
		font-weight: 600;
		line-height: 28px;
		color: variables.$vivaMagenta;
	}
}

// タブ分けのセクション
.tabuwake {
	&Container {
		@extend %sectionContainer;
	}

	&Head {
		@extend %sectionHead;
	}

	&SubHead {
		@extend %sectionLabel;
	}

	&Label {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		column-gap: 15px;

		@include mixin.mq(md) {
			column-gap: 30px;
		}

		&Item {
			@extend %jaKakuGo;

			background-color: variables.$grayLilac;
			text-align: center;
			font-weight: 700;
			width: calc(50% - 15px);
			padding: 10px;
			border-radius: 6px 6px 0 0;

			@include mixin.mq(md) {
				width: calc(50% - 30px);
			}

			&.active {
				background-color: variables.$vivaMagenta;
				color: white;
			}
		}
	}

	&Text {
		@extend %sectionText;
	}

	&Contents {
		display: none;

		&.active {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			row-gap: 15px;
			padding: 30px;
			background-color: variables.$vivaMagenta;
			border-radius: 0 0 6px 6px;

			@include mixin.mq(lg) {
				flex-direction: row;
				justify-content: space-between;
				column-gap: mixin.getVwNoRound(30, 1024);
			}
		}

		&Offset {
			display: flex;
			flex-direction: column;
			row-gap: 15px;
			justify-content: flex-start;

			@include mixin.mq(lg) {
				width: calc(50% - mixin.getVwNoRound(15, 1024));
			}
		}

		&Image {
			width: 100%;
		}

		&Title {
			@extend %jaKakuGo;
			font-size: 24px;
			font-weight: 700;
			letter-spacing: 0.05em;
			line-heihgt: 42px;
			color: white;
		}

		&Tag {
			&s {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				column-gap: 15px;
				row-gap: 5px;
			}

			@extend %jaKakuGo;
			font-size: 10px;
			font-weight: 700;
			color: variables.$vivaMagenta;

			background-color: white;
			border-radius: 6px;
			padding: 5px 15px;
		}

		&Description {
			@extend %jaKakuGo;
			font-size: 16px;
			font-weight: 400;
			line-height: 28px;
			color: white;
		}

		&Link {
			@extend %jaKakuGo;
			position: relative;
			font-size: 16px;
			font-weight: 600;
			padding: 15px;
			background-color: white;
			color: variables.$vivaMagenta;

			&::before {
				position: absolute;
				content: '';
				top: 50%;
				right: 15px;
				transform: translateY(-50%);
				background-image: url(../images/img_caret-right_vivamagenta.svg);
				background-repeat: no-repeat;
				background-size: 18px 18px;
				background-position: center center;
				width: 18px;
				height: 18px;
			}
		}
	}
}

// 表組みのセクション
.hyogumi {
	&Container {
		@extend %sectionContainer;
	}

	&Head {
		@extend %sectionHead;
	}

	&Label {
		@extend %sectionLabel;
	}

	&Text {
		@extend %sectionText;
	}

	&Table {
		&List {
			&:last-of-type {
				.hyogumiTableRow {
					border-bottom: solid 1px variables.$grayLilac;
				}
			}
		}

		&Row {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;

			@include mixin.mq(md) {
				flex-direction: row;
				flex-wrap: nowrap;
				border-top: solid 1px variables.$grayLilac;
			}

			.term {
				@extend %jaKakuGo;
				font-size: 16px;
				font-weight: 700;
				line-height: 28px;
				background-color: variables.$grayLilac;
				width: 100%;

				@include mixin.mq(md) {
					width: 25%;
				}
			}

			.definition {
				@extend %jaKakuGo;
				font-size: 16px;
				font-weight: 400;
				line-height: 28px;
				width: 100%;
				border-left: solid 1px variables.$grayLilac;
				border-right: solid 1px variables.$grayLilac;

				@include mixin.mq(md) {
					width: 75%;
					border-left: none;
				}
			}
		}

		&Cell {
			padding: 15px;
		}
	}
}

// よくある質問のセクション
.faq {
	&Container {
		@extend %sectionContainer;
	}

	&Head {
		@extend %sectionHead;
	}

	&Label {
		@extend %sectionLabel;
	}

	&Text {
		@extend %sectionText;
	}

	&List {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		row-gap: 30px;
	}
}

// ハンバーガーメニューのダイアログ
.dialog {
	width: 100%;
	max-width: mixin.getVwNoRound(320, 375);
	height: mixin.getVwNoRound(320, 375);
	max-height: 100%;
	background-color: white;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 16px;
	border: 0;
	padding: 24px;
	margin: 0;
	overscroll-behavior: contain;

	&::backdrop {
		background-color: rgba(0, 0, 0, 0.66);
	}

	&Content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		overscroll-behavior: contain;
		height: 100%;
	}

	&List {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		row-gap: 20px;
	}

	&Item {
		@extend %jaKakuGo;
		font-size: 16px;
		font-weight: 500;
		line-height: 28px;
		letter-spacing: 0.01em;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			bottom: -10px;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: variables.$black-1000;
		}
	}

	&Button {
		@extend %jaKakuGo;
		font-size: 16px;
		font-weight: 500;
		line-height: 28px;
		letter-spacing: 0.01em;
		border-radius: 6px;
		padding: 15px;
		background-color: variables.$vivaMagenta;
		text-align: center;
		color: white;
	}
}

// footer {
// }

.footer {
	&Container {
		width: 100%;
		background-color: variables.$vivaMagenta;
		padding: 10px 15px;

		.copyright {
			@extend %enGo;
			font-size: 10px;
			font-weight: 400;
			letter-spacing: 0.1em;
			text-align: center;
			color: white;
		}
	}
}
