// フォント

// 色
$vivaMagentaOneThird: #e2b1bc;
$vivaMagentaTwoThirds: #cf6d84;
$vivaMagenta: #bb2649;

$grayLilacOneThird: #eae7e8;
$grayLilacTwoThirds: #e0d9db;
$grayLilac: #d4cacd;

$black-1000: #404040;
