.summary_inner, .content_inner, .headerTitle, .headerLink, .firstviewHeadContent .ja, .oshiraseDescription, .tabuwakeLabelItem, .tabuwakeContentsTitle, .tabuwakeContentsTag, .tabuwakeContentsDescription, .tabuwakeContentsLink, .hyogumiTableRow .term, .hyogumiTableRow .definition, .dialogItem, .dialogButton, .tabuwakeText, .hyogumiText, .faqText, .tabuwakeSubHead, .hyogumiLabel, .faqLabel, .oshiraseHead, .tabuwakeHead, .hyogumiHead, .faqHead {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-display: swap;
  color: #404040;
}

.firstviewHeadContent .en, .oshiraseTerm, .footerContainer .copyright {
  font-family: "Josefin Sans", sans-serif;
  font-display: swap;
  color: #404040;
}

.oshiraseContainer, .tabuwakeContainer, .hyogumiContainer, .faqContainer {
  width: 100%;
  max-width: 85.3333333333vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 768px) {
  .oshiraseContainer, .tabuwakeContainer, .hyogumiContainer, .faqContainer {
    max-width: 83.3333333333vw;
  }
}
@media screen and (min-width: 1366px) {
  .oshiraseContainer, .tabuwakeContainer, .hyogumiContainer, .faqContainer {
    max-width: 70.2781844802vw;
  }
}

.oshiraseHead, .tabuwakeHead, .hyogumiHead, .faqHead {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
}

.tabuwakeSubHead, .hyogumiLabel, .faqLabel {
  position: relative;
  font-size: 21px;
  font-weight: 700;
  display: flex;
  padding-left: 18px;
  margin-bottom: 30px;
}
.tabuwakeSubHead::before, .hyogumiLabel::before, .faqLabel::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 3px;
  height: 100%;
  background-color: #bb2649;
}

.tabuwakeText, .hyogumiText, .faqText {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 28px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
}

.headerContainer {
  position: relative;
  width: 100%;
  padding: 31px 15px;
  background-color: #bb2649;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
.headerTitle {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: white;
}
.headerList {
  display: none;
}
@media screen and (min-width: 768px) {
  .headerList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 15px;
    align-items: center;
  }
}
.headerLink {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: white;
}
.headerMenuButton {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4px;
  z-index: 2;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .headerMenuButton {
    display: none;
  }
}
.headerMenuButton .bar {
  width: 16px;
  height: 2px;
  background-color: white;
  display: block;
}

.bgContainer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.bgContainerEven {
  background-color: #eae7e8;
}
.bgContainerOdd {
  background-color: #e0d9db;
}

.firstviewContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.firstviewContent {
  width: 100%;
}
.firstviewContent .autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}
.firstviewContent .autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: white;
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
.firstviewHeadContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 45px));
  z-index: 2;
}
.firstviewHeadContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
}
.firstviewHeadContent .en {
  font-size: 8vw;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 8.8vw;
  color: #bb2649;
}
@media screen and (min-width: 768px) {
  .firstviewHeadContent .en {
    font-size: 4.1666666667vw;
    line-height: 4.5833333333vw;
  }
}
.firstviewHeadContent .ja {
  font-size: 4.8vw;
  font-weight: 700;
  line-height: 6vw;
  color: white;
}
@media screen and (min-width: 768px) {
  .firstviewHeadContent .ja {
    font-size: 1.25vw;
    line-height: 1.5625vw;
  }
}
.firstviewHeadContent .md-none {
  display: block;
}
@media screen and (min-width: 768px) {
  .firstviewHeadContent .md-none {
    display: none;
  }
}
.firstviewImage {
  width: 100%;
  height: 100%;
  filter: brightness(0.33);
}

.oshiraseList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 15px;
}
.oshiraseItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 15px;
}
.oshiraseTerm {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #404040;
  padding-top: 2px;
}
.oshiraseDescription {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: #bb2649;
}

.tabuwakeLabel {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  column-gap: 15px;
}
@media screen and (min-width: 768px) {
  .tabuwakeLabel {
    column-gap: 30px;
  }
}
.tabuwakeLabelItem {
  background-color: #d4cacd;
  text-align: center;
  font-weight: 700;
  width: calc(50% - 15px);
  padding: 10px;
  border-radius: 6px 6px 0 0;
}
@media screen and (min-width: 768px) {
  .tabuwakeLabelItem {
    width: calc(50% - 30px);
  }
}
.tabuwakeLabelItem.active {
  background-color: #bb2649;
  color: white;
}
.tabuwakeContents {
  display: none;
}
.tabuwakeContents.active {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 15px;
  padding: 30px;
  background-color: #bb2649;
  border-radius: 0 0 6px 6px;
}
@media screen and (min-width: 1024px) {
  .tabuwakeContents.active {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 2.9296875vw;
  }
}
.tabuwakeContentsOffset {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  justify-content: flex-start;
}
@media screen and (min-width: 1024px) {
  .tabuwakeContentsOffset {
    width: calc(50% - 1.46484375vw);
  }
}
.tabuwakeContentsImage {
  width: 100%;
}
.tabuwakeContentsTitle {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-heihgt: 42px;
  color: white;
}
.tabuwakeContentsTag {
  font-size: 10px;
  font-weight: 700;
  color: #bb2649;
  background-color: white;
  border-radius: 6px;
  padding: 5px 15px;
}
.tabuwakeContentsTags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 5px;
}
.tabuwakeContentsDescription {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: white;
}
.tabuwakeContentsLink {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  padding: 15px;
  background-color: white;
  color: #bb2649;
}
.tabuwakeContentsLink::before {
  position: absolute;
  content: "";
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  background-image: url(../images/img_caret-right_vivamagenta.svg);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center center;
  width: 18px;
  height: 18px;
}

.hyogumiTableList:last-of-type .hyogumiTableRow {
  border-bottom: solid 1px #d4cacd;
}
.hyogumiTableRow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .hyogumiTableRow {
    flex-direction: row;
    flex-wrap: nowrap;
    border-top: solid 1px #d4cacd;
  }
}
.hyogumiTableRow .term {
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  background-color: #d4cacd;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hyogumiTableRow .term {
    width: 25%;
  }
}
.hyogumiTableRow .definition {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  width: 100%;
  border-left: solid 1px #d4cacd;
  border-right: solid 1px #d4cacd;
}
@media screen and (min-width: 768px) {
  .hyogumiTableRow .definition {
    width: 75%;
    border-left: none;
  }
}
.hyogumiTableCell {
  padding: 15px;
}

.faqList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 30px;
}

.dialog {
  width: 100%;
  max-width: 85.3333333333vw;
  height: 85.3333333333vw;
  max-height: 100%;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  border: 0;
  padding: 24px;
  margin: 0;
  overscroll-behavior: contain;
}
.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.66);
}
.dialogContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overscroll-behavior: contain;
  height: 100%;
}
.dialogList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 20px;
}
.dialogItem {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.01em;
  position: relative;
}
.dialogItem::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #404040;
}
.dialogButton {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.01em;
  border-radius: 6px;
  padding: 15px;
  background-color: #bb2649;
  text-align: center;
  color: white;
}

.footerContainer {
  width: 100%;
  background-color: #bb2649;
  padding: 10px 15px;
}
.footerContainer .copyright {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-align: center;
  color: white;
}

summary {
  display: block;
}
summary::-webkit-details-marker {
  display: none;
}

.summary_inner {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  border: 1px solid #e2b1bc;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  color: #bb2649;
}

.icon {
  display: block;
  position: relative;
  width: 24px;
  margin-left: 6px;
  flex-shrink: 0;
  transform-origin: center 43%;
  transition: transform 0.4s;
}
.icon::before, .icon::after {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 3px;
  background-color: #bb2649;
}
.icon::before {
  left: 0;
  transform: rotate(45deg);
}
.icon::after {
  right: 0;
  transform: rotate(-45deg);
}

details.is-opened .icon {
  transform: rotate(180deg);
}

.content {
  overflow: hidden;
  background-color: white;
}
.content_inner {
  padding: 24px 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #bb2649;
}

/*# sourceMappingURL=style.css.map */
